$flame: rgba(228, 87, 46, 1)
$tifannyBlue: rgba(23, 190, 187, 1)
$mikadoYellow: rgba(255, 201, 20, 1)
$charlestonGreen: rgba(46, 40, 42, 1)
$palmLeaf: rgba(118, 176, 65, 1)

body
  overflow: hidden
  background-color: $mikadoYellow

.keys
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  min-height: 100vh
  flex: 1

.aux, .sub, .verb
  display: inline-flex

.aux
  .key
    background-color: $palmLeaf

.sub
  .key
    background-color: $tifannyBlue

.verb
  .key
    background-color: $flame


.key
  margin: .5rem
  text-transform: uppercase
  border: .15rem solid black
  border-radius: 5px
  padding: .5rem 1rem
  text-align: center
  color: white

kbd
  display: block
  font-size: 2rem

span
  font-family: sans-serif
  font-size: 1rem
  margin-top: .1rem
  margin-bottom: .1rem
  color: $charlestonGreen
  font-weight: bold
