/* line 7, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
body {
  overflow: hidden;
  background-color: #ffc914;
}

/* line 11, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

/* line 19, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.aux, .sub, .verb {
  display: inline-flex;
}

/* line 22, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.aux .key {
  background-color: #76b041;
}

/* line 25, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.sub .key {
  background-color: #17bebb;
}

/* line 28, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.verb .key {
  background-color: #e4572e;
}

/* line 31, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.aux {
  background-color: #17bebb;
}

/* line 34, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.sub {
  background-color: #e4572e;
}

/* line 37, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.verb {
  background-color: #76b041;
}

/* line 40, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.key {
  margin: .7rem;
  text-transform: uppercase;
  border: .15rem solid black;
  border-radius: 5px;
  padding: .5rem 1rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 1px black;
  box-shadow: 0 0 2px black;
  transition: all 0.7s ease;
}

/* line 51, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.key:first-child {
  margin-left: 40rem;
}

/* line 53, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.key:last-child {
  margin-right: 40rem;
}

/* line 56, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
kbd {
  font-family: 'Cabin', sans-serif;
  display: block;
  font-size: 2rem;
}

/* line 61, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
span {
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: .1rem;
  margin-bottom: .1rem;
  color: #2e282a;
  font-weight: bold;
  text-shadow: none;
}

/* line 70, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.playing {
  transform: scale(1.2);
  border-color: #65575c;
  box-shadow: 0px 0px 5px #2e282a;
}

/* line 74, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
.playing.key {
  background-color: white;
  text-shadow: none;
  color: black;
}

/* line 79, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
form {
  display: inline;
}

/* line 82, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
p {
  font-family: 'Cabin', sans-serif;
  display: inline;
}

/* line 86, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
#question {
  margin-top: 3%;
  font-size: 1.3rem;
}

/* line 90, C:/Users/tbrit/Documents/GIT projects/English keyboard/Sass/stylesheet.sass */
button {
  background-color: white;
  border-radius: 5px;
  padding: .5rem 1rem;
}

/*# sourceMappingURL=../stylesheet.map */